---
apiVersion: v1
kind: Namespace
metadata:
  name: opni
  labels:
    name: opni
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: opni   
  namespace: opni  
spec:
  repo: https://raw.githubusercontent.com/rancher/opni/charts-repo
  chart: opni
  targetNamespace: opni
  version: "{{ opni_version }}"
