---
apiVersion: v1
kind: Namespace
metadata:
  name: cattle-logging-system
  labels:
    name: cattle-logging-system
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: rancher-logging-crd
  namespace: cattle-logging-system
spec:
  chart: https://%{KUBERNETES_API}%/static/charts/rancher-logging-crd-{{ rancher_logging_version }}.tgz 
  targetNamespace: cattle-logging-system
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: rancher-logging
  namespace: cattle-logging-system
spec:
  chart: https://%{KUBERNETES_API}%/static/charts/rancher-logging-chart-{{ rancher_logging_version }}.tgz 
  targetNamespace: cattle-logging-system
#---
#apiVersion: helm.cattle.io/v1
#kind: HelmChart
#metadata:
#  name: elastic
#  namespace: cattle-logging-system
#spec:
#  chart: https://%{KUBERNETES_API}%/static/charts/elasticsearch-{{ elastic_version }}.tgz 
#  targetNamespace: cattle-logging-system
#  version: "{{ elastic_version }}"
#  valuesContent: |-
#    replicas: 1
#    minimumMasterNodes: 1
#    secret:
#      password: "elastic"
#    service:
#      type: NodePort
#      nodePort: 30301
#    #createCert: false
#---
#apiVersion: helm.cattle.io/v1
#kind: HelmChart
#metadata:
#  name: kibana
#  namespace: cattle-logging-system
#spec:
#  chart: https://%{KUBERNETES_API}%/static/charts/kibana-{{ kibana_version }}.tgz 
#  targetNamespace: cattle-logging-system
#  version: "{{ kibana_version }}"
#  valuesContent: |-
#    service:
#      type: NodePort
#    elasticsearchHosts: "https://elastic:elastic@192.168.1.231:30301"