---
apiVersion: v1
kind: Namespace
metadata:
  name: logging
  labels:
    name: logging
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: logging
  namespace: logging 
spec:
  chart: https://%{KUBERNETES_API}%/static/charts/logging-operator-{{ logging_version }}.tgz 
  version: "{{ logging_version }}"
  targetNamespace: logging
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: elastic
  namespace: logging
spec:
  chart: https://%{KUBERNETES_API}%/static/charts/elasticsearch-{{ elastic_version }}.tgz 
  targetNamespace: logging
  version: "{{ elastic_version }}"
  valuesContent: |-
    replicas: 1
    service:
      type: NodePort
