---
apiVersion: v1
kind: Namespace
metadata:
  name: redis
  labels:
    name: redis
---
apiVersion: v1
kind: Service
metadata:
  name: redis-nodeport
  namespace: redis
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: redis
  ports:
    - port: 6379
      nodePort: 30079
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: redis
  namespace: redis
spec:
  chart: https://%{KUBERNETES_API}%/static/charts/redis-{{ redis_version }}.tgz 
  version: "{{ redis_version }}"
  targetNamespace: redis
  valuesContent: |-
    replica:
      replicaCount: 1
