---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ca-key-pair
spec:
  commonName: dev
  isCA: true
  issuerRef:
    kind: ClusterIssuer
    name: issuer
  secretName: ca-key-pair