---
apiVersion: v1
kind: Namespace
metadata:
  name: home-assistant
  labels:
    name: home-assistant
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  repo: http://pajikos.github.io/home-assistant-helm-chart/
  chart: pajikos/home-assistant
  targetNamespace: home-assistant